<script>
    function validateform(){  
var name=document.myform.username.value;  
var password=document.myform.password.value;  
  var phone=document.myform.phone.value;
if (username==null || username==""){  
  alert("Name can't be blank");  
  return false;  
}else if(password.length<6){  
  alert("Password must be at least 6 characters long.");  
  return false;  
  }  else if(phone.length<10) {
    alert("Phone Number must have 10 digit");
    return false;  
  }

}

function preback(){window.history.forward();}
   setTimeout("preback()",0);
   window.onunload=function(){null}

</script> 

<div class="container d-flex justify-content-center p-5 mt-5">
<div class="row">
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header d-flex justify-content-center">Update user</div>
  <div class="card-body text-dark">
{{#each doc}}
  <form action="/upload/{{this._id}}" method="POST" onsubmit="return validateform()" name="myform" class="mb-4" autocomplete="off" > 

    <label for="username" >UserName</label>
    <input type="text" id="username" name="username" required class="form-control" placeholder="UserName" value="{{this.username}}">
    <label for="phone" > Mobile No</label>
    <input type="number" name="phone" id="phone" required class="form-control" placeholder="Mobile No" value="{{this.phone}}">
    <label for="city" > City</label>
    <input type="text" name="city" id="city" required class="form-control" placeholder="City" value="{{this.phone}}">
   <label></label>
    <input type="submit" value="UPDATE" class="btn btn-primary btn-block">
    <label></label>
</form> 
{{/each}}
  </div>
</div>
</div>

</div> 
