<h1 class="text-center text-primary">WELCOME</h1> 
<p>NEEE THEERNNADAA THEERNNU.........</p>
<form action="/logout" method="POST" class="mb-4">
<input type="submit" value="LOGOUT" class="btn btn-primary btn-block">
</form>